html body {
    background-color: #333A44;
    align-items: center;
    justify-content: center;
}

#create-account-card {
    background-color: #181E2A;
    border-radius: 25px;
    width: 550px;
    height: 1200px;
    margin: 0;
    position: absolute;
    top: 120%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.form {
    margin: 0;
    width: 500px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h2 {
    color: white;
    padding-bottom: 20px;
    left: 100px;
}

h4 {
    color: white;
    left: 100px;
}

.input {
    padding-bottom: 20px;
}

input {
    background-color: #708090;
    border-color: transparent;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 15px;
    text-indent: 20px;
}

button {
    border-radius: 25px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4B9CD3;
    color: white;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 16px;
    opacity: 1;
    /* Firefox */
    color: lightgray;
}

#link {
    margin: auto;
    width: 200px;
    padding-top: 30px;
}

a {
    color: white;
}

span {
    color: white;
    text-align: center;
}

#checkbox1,
#checkbox2 {
    padding-bottom: 20px;
    width: 15px;
    height: 15px;
}

#message {
    color: red;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }